body {font-family: 'Roboto', sans-serif;  margin: 0; padding: 0; font-style: normal;}
a {text-decoration: none;}
li {list-style-type: none;}
p, h1, h3, h6 {padding: 0; margin: 0;}

.container {max-width: 1440px; margin-left: auto; margin-right: auto;}
.preheader {background-color: #939878;}
.preheader__inner {padding: 10px 40px; display: flex; left: 0; right: 0;}
.preheader__text {margin: 0 auto;}
.preheader__text a {font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;}
.preheader__close {right: 0; cursor: pointer;}
.preheader.preheader--haden {display: none;}

.header__inner {padding: 16px 80px; display: flex; justify-content: space-between;}
.header__logo {padding-top: 8px;}
.header__menu {display: flex;}
.menu__list--items {display: flex;} .menu__list--item + .menu__list--item {margin-left: 32px;}
.Properties::after {content: url(image/expand_more.png); margin-left: 8px;}
.Search::before {content: url(image/search.png); margin-right: 8px;}
.menu__list-link {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2A2C1F;}
.header__cart {display: flex; 
    color: #2A2C1F; border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 14px 20px;
    margin-left: 24px;}
.header__cart--img {margin-top: 2px;}
.header__cart--text {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 4px;}
.header__property {margin-left: 16px; padding: 14px 21px 14px 21px; background-color: #CF6F49;     
    border: 1px solid #CF6F49;
    border-radius: 6px;}
.header__property--text {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;}
    

.frame__top__inner {background-image: url(image/top_image.png); background-position: center right; background-size: auto auto; background-repeat: no-repeat; position: relative;}
.frame__top__description {max-width: 720px;}
.frame__top__description__inner {padding: 140px 80px; background-color: #F5F5F2;}
.pretitle {background-color: #E7E8E3;
    border-radius: 32px; max-width: 170px; margin-bottom: 20px;}
.pretitle__text {font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    color: #2A2C1F;
    padding: 4px 12px;}
.frame__top__title {margin-bottom: 20px;}
.frame__top__title--text {font-weight: 400;
    font-size: 56px;
    line-height: 67px; color: #2A2C1F;}
.frame__top--text {font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #65665C;
    margin-bottom: 20px; padding-right: 57px;}
.frame__form-input {background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin-right: 16px;
    padding-left: 56px;
    padding-right: 90px;
    padding-top: 16px;
    padding-bottom: 16px;
background-image: url(image/search.png); background-repeat: no-repeat; background-position: center left 24px; background-size: 6% auto}
.frame__form-input::placeholder {font-weight: 400;
    font-size: 20px;
    line-height: 30px; color: #65665C;}
.frame__form-btn {font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px; 
    padding: 9px 18px;}  
.frame__top__description--before {position: absolute; top: 0; left: 0;}
.frame__top__description--after {position: absolute; left: 585px; bottom: -5px;}

.frame__logos__inner {padding: 67px 80px; display: flex; justify-content: space-between;}
.frame__logos--text {max-width: 243px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2A2C1F;}
.frame__logos--logos {max-width: 728px; display: flex; padding-top: 14px;}
.frame__logos--img + .frame__logos--img {margin-left: 32px;}

.frame__hiw__inner {padding: 60px 80px;}
.frame__hiw__title {text-align: center; margin-bottom: 60px;}
.frame__hiw__title--title {font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #2A2C1F;}
.frame__hiw__title-text {   
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #65665C;}
.frame__hiw__items {display: flex; text-align: center; justify-content: space-between;}
.frame__hiw__item {padding: 49px 33px 47px 33px; 
    max-width: 340px;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;}
.frame__hiw__item__title--text {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #2A2C1F;}
.frame__hiw__item--text {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #65665C;}
 
.frame__comfort__inner {padding: 60px 80px; background-image: url(image/comfort-bg.png);background-position: center right 80px; background-size: auto auto; background-repeat: no-repeat;}
.frame__comfort__description {padding: 143px 0; max-width: 520px; background:#FFFFFF; background-position: center;}
.two {max-width: 107px;}
.frame__comfort__title--text {font-weight: 700;
    font-size: 48px;
    line-height: 58px; color: #2A2C1F;
    margin-bottom: 20px;}
.frame__comfort--text {font-weight: 400;
    font-size: 18px;
    line-height: 27px; color: #65665C; margin-bottom: 40px;} 
.prop__link {background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px; font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #2A2C1F;
    padding: 13px 25px;
    margin-right: 25px;} 
.contact__link {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2A2C1F;}   


.frame__fast__inner {padding: 60px 80px; background-image: url(image/fast-bg.png);background-position: center left 80px; background-size: auto auto; background-repeat: no-repeat;}
.three {max-width: 127px;}
.frame__fast__description {max-width: 600px; margin-left: auto; background-color: #FFFFFF; padding: 55px 0;}
.frame__confort__items {display: flex; justify-content: space-between;}
.frame__comfort__item {max-width: 245px; margin-bottom: 50px;}
.frame__fast__title {font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2A2C1F;}
.frame__fast__text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #65665C;}
.frame__fast {margin-bottom: 60px;}

.properties__inner {background-color: #F5F5F2; padding: 120px 80px 160px 80px; position: relative;}
.four {max-width: 92px; margin-left: auto; margin-right: auto; margin-bottom: 21px;}
.properties__title-text {font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #2A2C1F;
    margin-bottom: 80px;}

.apartament__cards {display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 70px;}
.apartament__card {max-width: 405px; background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px; margin-bottom: 30px;}
.apartament__cards-des {padding: 24px;}
.apartament__cards__name {font-weight: 700;
    font-size: 24px;
    line-height: 34px; color: #2A2C1F;
margin-bottom: 8px;}
.apartament__cards__price {font-weight: 700;
    font-size: 18px;
    line-height: 27px; color: #2A2C1F;
    margin-bottom: 16px;}
.apartament__cards__adress {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #65665C;
    margin-bottom: 16px;}
.apartament__cards__option {display: flex;font-weight: 400;
    font-size: 16px;
    line-height: 24px; color: #65665C;}
.apartament__cards__adress::before {content: url(image/adress.png); padding-right: 10px;}
.bedroom {margin: 0 25px;}
.bath::before {content: url(image/bathtub.png); padding-right: 10px;}
.bedroom::before {content: url(image/bed.png); padding-right: 10px;}
.square::before {content: url(image/square_foot.png); padding-right: 10px;}
.centre {text-align: center;}

.frame__properties__description--before {position: absolute; right: 0; top: 0;}
.frame__properties__description--after {position: absolute; left: 0; bottom: 0;}